requests>=2.32.2
pandas>=2.2.1
tqdm>=4.66.4
pydantic>=2.7.4
langchain-openai>=0.1.8
langchain-core>=0.2.27
langchain>=0.2.12
python-dotenv>=1.0.1
regex>=2024.5.15
radon>=6.0.1
beautifulsoup4>=4.12.2
duckduckgo-search>=5.3.1b1
tenacity>=8.3.0
numpy>=1.26.4
joblib>=1.4.0
scikit-learn>=1.4.2
streamlit>=1.36.0
shap>=0.46.0
plotly>=5.23.0
optuna>=3.6.1
xgboost>=2.0.3
langchain-community>=0.2.4
pymilvus>=2.4.4
langfuse>=2.37.0
openai>=1.34.0
langgraph>=0.0.66
pillow>=10.3.0
pdfplumber>=0.11.2
tavily-python