requests>=2.32.3
pandas>=2.2.2
tqdm>=4.66.5
pydantic>=2.7.4
langchain-openai>=0.2.0
langchain-core>=0.3.0
langchain>=0.3.0
python-dotenv>=1.0.1
regex>=2024.9.11
pymilvus>=2.4.6
radon>=6.0.1
beautifulsoup4>=4.12.3
duckduckgo-search>=6.2.11
tenacity>=8.5.0
langfuse>=2.48.1
numpy>=1.26.4
joblib>=1.4.2
scikit-learn>=1.5.2
streamlit>=1.38.0
shap>=0.46.0
plotly>=5.24.1
optuna>=4.0.0
xgboost>=2.1.1
langchain-community>=0.3.0
aiohttp>=3.10.5
mysql-connector-python>=9.0.0
pdfplumber>=0.11.4
minio>=7.2.8
openai>=1.45.0
pillow>=10.4.0
unstructured-client>=0.25.8